<%= form_tag @products, method: 'post' do |i| %>
  <%= label_tag 'product' %>
  <%= text_field_tag 'product' %>
  <%= submit_tag 'add to cart' %>
<% end %>

<%= if !session[:cart].nil? %>
  <ul>
    <% cart.each do |product| %>
      <li><%= product %></li>
    <% end %>
  </ul>
<% end %>
